<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>500-Error Page</title>
    <th:block th:insert="~{fragments/my-template :: link}"></th:block>

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <th:block th:insert="~{fragments/my-template :: sidebar}"> </th:block>
        <!-- End of Sidebar --> 
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column"> 
            <!-- Main Content -->
            <div id="content"> 
                <!-- Topbar -->
                <th:block th:insert="~{fragments/my-template :: topbar}"> </th:block>
                <!-- End of Topbar --> 
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- 500 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto" data-text="500">500</div>
                        <p class="lead text-gray-800 mb-5">Page Not Found</p>
                        <p class="text-gray-500 mb-0">Your action is not valid!</p>
                        <a th:href="@{/home-page}">&larr; Back to Dashboard</a>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content --> 
        </div>
        <!-- End of Content Wrapper --> 
    </div>
    <!-- End of Page Wrapper --> 
    <!-- Join Test Modal -->
<th:block th:insert="~{fragments/my-template :: join-test-modal}"></th:block>


<!-- Logout Modal-->
<th:block th:insert="~{fragments/my-template :: logout-modal}"></th:block>

<!-- Bootstrap core JavaScript--> 
<th:block th:insert="~{fragments/my-template :: body/script}"></th:block>
</body>
</html>
