<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>QuizTest-Register</title>

        <!--css-->
    <th:block th:insert="~{fragments/my-template :: link}"></th:block>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form th:action="@{/register}" th:object="${userForm}" class="user" method="POST">
                                <div class="form-group">
                                    <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="text-danger"> </span>
                                    <input type="text" th:field="*{fullName}" class="form-control form-control-user"
                                           placeholder="Full Name" required="">
                                </div>
                                <div class="form-group">
                                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
                                    <input type="text" th:field="*{username}"  class="form-control form-control-user" 
                                           placeholder="Username" required="">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                                        <input type="password" th:field="*{password}" class="form-control form-control-user"
                                               placeholder="Password" required="">
                                    </div>
                                    <div class="col-sm-6">
                                        <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-danger"></span>
                                        <input type="password" th:field="*{confirmPassword}" class="form-control form-control-user"
                                               placeholder="Confirm Password" required="">
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </button>
                                <hr>
                                <a href="#googleLogin" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="#faceLogin" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="#forgot-password">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" th:href="@{/login}">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript--> 
<th:block th:insert="~{fragments/my-template :: body/script}"></th:block>

</body></html>
